<!DOCTYPE html>
  <html>
<head>
  <title> friend profile</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />

   <script src="/public/assets/sendreq.js" type="text/javascript"></script>
</head>
<body>
  <% include partials/nav.ejs %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"><%=fdata[0].firstname%>, <%=fdata[0].lastname%></h3>
    </div>

  <input type=button id="status" value="<%=status%>" > </input>
    <input type=button id="ignore" value="ignore" > </input>
  <input id="id" value="<%=data[0].user_id%>"  hidden>  </input>
  <input id="idf" value="<%=idf%>" hidden></input>

<div id="thefriend" >
<div class="panel-body">
  <div class="row">
    <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="/public/images/upload_images/<%=fdata[0].profile_picture%>" class="img-circle img-responsive"> </div>
    <div class=" col-md-9 col-lg-9 ">
      <table class="table table-user-information">
        <tbody>
          <tr>
            <td>User Name:</td>
            <td>
              <%=fdata[0].nickname%>
            </td>
          </tr>
          <tr>
            <td>Mobile:</td>
            <td>
              <%=fdata[0].phone_number1%>
            </td>
          </tr>
          <tr>
            <td>BirthDate:</td>
            <td>
              <%=fdata[0].birthdate%>
            </td>
          </tr>
          <tr>
            <td>About me:</td>
            <td>
              <%=fdata[0].about_me%>
            </td>
          </tr>
          <tr>
            <td>status</td>
            <td>
              <%=fdata[0].marital_status%>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<div class=friends>
  <h2>Friends</h2>
  <ul>
    <% for(var i=0;i<friendsdata.length;i++){%>
      <li>

          <img src="http://localhost:4001/public/images/upload_images/<%=friendsdata[i].profile_picture%>" alt="profilepicture"  class="img-circle">
        <a href="/friend/profile/<%=data[0].user_id%>/<%=friendsdata[i].user_id %>">

          <%=friendsdata[i].firstname %>
            <%=friendsdata[i].lastname %>
        </a>
      </li>
      <%}%>
  </ul>
</div>
<div class="posts">
  <h2>Posts</h2>
  <br>
  <ul id="posts">
    <%if (postsdata.length>0){
for(var i=0;i<postsdata.length;i++){%>
      <li>
          <img src="http://localhost:4001/public/images/upload_images/<%=postsdata[i].profile_picture%>" alt="profilepicture" height="60" width="60" class="img-circle">
          <a href="/friend/profile/<%=data[0].user_id%>/<%=postsdata[i].user_id %>">
          <%=postsdata[i].firstname %>
            <%=postsdata[i].lastname %>
        </a>

        <br><br><br>
        <h3 id="post-caption">
        <%=postsdata[i].caption %>
      </h3>
      <br>
      <%if(postsdata[i].image!=null){%>
      <img src="http://localhost:4001/public/images/post_images/<%=postsdata[i].image%>" class="image" width="60" height="60">
      <%}%>
      </li>
      <br>
      <%}}
  else{%>
        <h4>NO POSTS TO DISPLAY! </h4>
        <%} %>
  </ul>
    </div>
</div>
</div>
<div id="Nofriend" >
<div class="panel-body">
  <div class="row">
    <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://localhost:4001/public/images/upload_images/<%=fdata[0].profile_picture%>" class="img-circle img-responsive" > </div>
    <div class=" col-md-9 col-lg-9 ">
      <table class="table table-user-information">
        <tbody>
          <tr>
            <td>User Name:</td>
            <td>
              <%=fdata[0].nickname%>
            </td>
          </tr>
          <tr>
            <td>Mobile:</td>
            <td>
              <%=fdata[0].phone_number1%>
            </td>
          </tr>
          <tr>
            <td>status</td>
            <td>
              <%=fdata[0].marital_status%>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="posts">
    <h2>Posts</h2>
    <br>
    <ul id="posts">
      <%if (publicposts.length>0){
  for(var i=0;i<publicposts.length;i++){%>
        <li>
            <img src="http://localhost:4001/public/images/upload_images/<%=publicposts[i].profile_picture%>" alt="profilepicture" height="60" width="60" class="img-circle">
            <a href="/friend/profile/<%=data[0].user_id%>/<%=publicposts[i].user_id %>">
            <%=publicposts[i].firstname %>
              <%=publicposts[i].lastname %>
          </a>

          <br><br><br>
          <h3 id="post-caption">
          <%=publicposts[i].caption %>
        </h3>
        <br>
        <%if(publicposts[i].image!=null){%>
        <img src="http://localhost:4001/public/images/post_images/<%=publicposts[i].image%>" class="image" height="60" width="60">
        <%}%>
        </li>
        <br>
        <%}}
    else{%>
          <h4>NO public POSTS TO DISPLAY! </h4>
          <%} %>
    </ul>
      </div>
</div>
</div>
</div>
</body>

</html>
